tr,td {
 padding: 5px;
    border:1px solid #ddd; 
   text-align:center;
    width:10px;
}

/*------------------------*/
table {
 width: 300px; 
  border:1px solid #eee;  
}
/*------------------------*/

td.dado-original {
	color:red;
	font-weight: bold;
}

td.dado-user {
	color:blue;
	font-weight: bold;
}